.header {
    width: 100%;
    border-bottom: 1px solid #F2F4F7;
    position: relative;
    z-index: 9999;
    padding-left: 15px;
    padding-right: 24.62px;
    /* position: fixed;
    top: 0; */
}

.header.header2 {
    background: linear-gradient(95.08deg, #9F2DFE 6.71%, #3BB2F9 111.09%);
    border: none;
}

.header .inHeader {
    max-width: 1216px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inHeader .left {
    display: flex;
    align-items: center;
}

.header .inHeader .left .logo {
    width: 142px;
    height: 47.29px;
}

.header .inHeader .left .logo img {
    width: 100%;
}

.header .inHeader .left .menu .navMenu ul {
    display: flex;
    gap: 37px;
}

.header .inHeader .left .menu .menuListBox {
    position: relative;
}

.header .inHeader .left .menu .navMenu ul li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    cursor: pointer;
}

.header .inHeader .right {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.header .inHeader .mobileConnectBtn {
    display: none;
}

.header .inHeader .right .walletBtn {
    width: 175px;
    height: 44px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.header .inHeader .right .walletBtn.walletBtn2 {
    color: #9F2DFE;
    background: #FFFFFF;
}

.hamburger {
    display: none;
}

.hamburger .icon {
    color: white;
    font-size: 34px;
}

.header .inHeader .left .menu .dropDown_menu {
    position: absolute;
    top: 53px;
    left: -45px;
    width: 186px;
    /* min-height: 130px; */
    background: linear-gradient(139.38deg, rgba(65, 70, 83, 0.4) 13.51%, rgba(56, 61, 74, 0.1) 86.74%);
    box-shadow: 0px 4px 24px -1px rgba(21, 24, 32, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 8px;
    padding: 19px;
}

.header .inHeader .left .menu .dropDown_menu ul {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding: 0;
    gap: 0px;
}

.header .inHeader .left .menu .dropDown_menu ul li a {
    width: 138px;
    height: 48px;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.header .inHeader .left .menu .dropDown_menu ul li a span {
    background: #E31B1B;
    border-radius: 1px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 7px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

.header .inHeader .left .menu .dropDown_menu ul li a:hover {
    background: linear-gradient(139.38deg, rgba(109, 118, 142, 0.4) 13.51%, rgba(109, 118, 142, 0.1) 86.74%);
    box-shadow: 0px 4px 24px -1px rgba(21, 24, 32, 0.2);
    backdrop-filter: blur(40px);
}

@media screen and (max-width: 767px) {
    .header .inHeader .left .navMenu {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 80px;
        right: 0;
        left: 0;
        background: linear-gradient(139.38deg, rgba(65, 70, 83, 0.4) 13.51%, rgba(56, 61, 74, 0.1) 86.74%);
        box-shadow: 0px 4px 24px -1px rgba(21, 24, 32, 0.2);
        backdrop-filter: blur(40px);
    }

    .header .inHeader .left .navMenu.open {
        display: block;
    }

    .header .inHeader .left .menu .navMenu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 0;
    }

    .header .inHeader .left .menu .menuListBox {
        width: 100%;
    }

    .header .inHeader .left .menu .navMenu ul li {
        justify-content: space-between;
        width: 100%;
        padding: 0px;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 16px;
    }

    .header .inHeader .left .menu .dropDown_menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: none;
        box-shadow: none;
        backdrop-filter: blur(0px);
        border-radius: 0;
        padding: 0px;
        margin-top: 16px;
    }

    .header .inHeader .left .menu .dropDown_menu ul li a:hover {
        background: none;
        box-shadow: none;
        backdrop-filter: blur(0px);
    }

    .header .inHeader .left .menu .dropDown_menu ul {
        width: 100%;
        align-items: flex-start;
        padding: 0;
    }

    .header .inHeader .left .menu .dropDown_menu ul li a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        height: 21px;
    }

    .header .inHeader .left .dropDown_menu ul li {
        padding-left: 25px !important;
        padding-right: 25px !important;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .header .inHeader .left .dropDown_menu ul li a.comingSoon {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header .inHeader .mobileConnectBtn {
        display: block;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 10px;
    }
    .header .inHeader .mobileConnectBtn{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .header .inHeader .mobileConnectBtn .site_btn{
        width: 100%;
    }
    .hamburger {
        display: block;
    }

    .header .inHeader .right {
        display: none;
    }
}