html,body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: #000000;
}
* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}